.dark-mode {
    background-color: $azul_marino_dm;

    .contenido-derecha {

        .buscador {
            background-color: $azul_marino_dm;
            border: 1px solid $blanco_ahumado;

            .barra {
                background-color: $negro;

                &::placeholder {
                    color: $blanco_ahumado;
                }
            }
        }

        a {
            &:hover {
                background-color: $azul_gris_dk;
            }
        }

        .btn-lista,
        .btn-nosotros {
            span {
                color: $blanco_ahumado;
            }
        }
    }

    .header {
        background-color: $negro;
        border: 0;

    }

    .contenedor-logo {
        .name {
            color: $blanco_ahumado;
        }

    }

    .icono-principal-inverso {
        filter: invert(100%);
    }

    .menu {
        div {
            background-color: $blanco_ahumado;
        }
    }

    /* Admin */
    .main-admin, .fondo {
        background-color: $negro;
        color: $blanco_ahumado;

        img {
            filter: invert(30%)
        }

        .contenedor-icono {

            &.verde {
                border: 1px solid darken($verde_dm, 20);
                background-color: darken($verde_dm, 0);
            }
        }

        .vista-verde {
            background-color: lighten($verde_dm, 10);
            border: 1px solid darken($verde_dm, 20);
        }
    }

    #footer {
        p {
            color: $blanco_ahumado;

        }
    }
}