.dark-mode {
    background-color: $azul_marino_dm;

    .contenido-derecha {

        .buscador {
            background-color: $azul_marino_dm;
            border: 1px solid $blanco_ahumado;

            .barra {
                background-color: $negro;

                &::placeholder {
                    color: $blanco_ahumado;
                }
            }
        }

        a {
            &:hover {
                background-color: $azul_gris_dk;
            }
        }
    }

    .header {
        background-color: $negro;
        border: 0;

    }

    .contenedor-logo {
        .name {
            color: $blanco_ahumado;
        }

    }

    .icono-principal-inverso {
        filter: invert(100%);
    }

    .menu {
        div {
            background-color: $blanco_ahumado;
        }
    }

    #footer {
        p {
            color: $blanco_ahumado;

        }
    }
}