.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.separar-margin {
    column-gap: 2rem;
    margin: 2rem 0;
}

.w-100 {
    width: 100%;
}

.disabled {
    &:hover {
        cursor: no-drop;
    }
}