.contenedor-categorias {
    @include grid(3, 2rem);
}

.categoria {

    border-radius: 1rem;
    background-color: lighten($beige_claro, 8);
    border: 1px solid darken($beige_claro, 10);
    margin-bottom: 2rem;
    
    .contenido-categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }

    h3,
    p {
        text-align: center;
        margin: 0 0 .5rem 0;
    }
    img {
        margin: 1.5rem auto 0 auto;
        width: 50%;
    }
}