.contenedorForm {
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    height: 70vh;
    padding: 2rem;
    background-color: #dbe6ec;
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.position-fixed {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    .error { // Estilo para los mensajes de error
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
}

h1 {
    text-align: center;
    color: #6c757d;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group-text {
    font-weight: bold;
    color: #6c757d;
    background-color: #e9ecef;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.form-control {
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.btn-primary {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #265166;
    border: none;
    cursor: pointer;
    width: 15%;
    min-width: 150px;
    transition: 0.3s ease;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 auto;

    &:hover {
        background-color: #1E3745;
    }
}

// -------------------
.form-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #B8CDD8;
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 1rem;

    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .form-col {
            flex: 1;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }

            label {
                display: block;
                margin-bottom: 0.5rem;
                color: #333;
            }

            .form-control {
                padding: 1rem;
                border: 1px solid #ced4da;
                border-radius: 0.5rem;
                width: 100%;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                }
            }

            &:nth-child(3) {
                display: flex;
                align-items: flex-end;
            }
        }
    }

    .btn-primary {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #265166;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #1E3745;
        }
    }

    #generarCredito {
        margin-top: 2rem;
        align-self: center;
    }
}

.total-compra-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1rem;
    align-self: flex-end;
    margin-bottom: 1rem;

    label {
        margin-right: 0.5rem;
        color: #333;
    }

    #totalCompra {
        width: 120px;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        border-radius: 0.5rem;
    }
}

.fecha-sistema {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .fecha-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 150px;
        background-color: #B8CDD8;
        color: #333;

        &:read-only {
            cursor: not-allowed;
        }
    }
}

.cliente-container {
    margin-left: 430px;
    display: inline-block;

    input#Credito_Cliente {
        width: 330px;
    }
}