.imagen-encabezado {

    @include imagen_banner;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url(../img/banner-encabezado2.jpg);
    justify-content: center;

}

.icono-direccion {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4rem;

    svg {
        color: $amarillo;
    }
}

.imagen-lista {

    @include imagen_banner;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/entrada-compras.png);
}

.imagen-lista-compras {
    
    margin: 8rem 0 2rem 0;

}

.contenedor-busqueda {
    
    margin: 5rem auto;
    width: 50%;
}

.btn-generar-lista {
    
    display: flex;
    background-color: darken($verde_dm, 30);
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 5rem;

    img {
        width: 3rem;
        filter: invert(100%);
        //margin: 1rem;
    }
}