.testimonial {
    background-color: lighten($gris_oscuro, 20);
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;

    blockquote {
        padding-left: 5rem;
    }

    p {
        color: $blanco;
        text-align: right;
    }
}