@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/** Media Queries **/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #BACFDA;
}

p {
  color: #121212;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
  margin: 2.5rem 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

img,
picture {
  width: 100%;
  display: block;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.seccion {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contenido-centrado {
  max-width: 80rem;
}

.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

.dark-mode {
  background-color: #193A4A;
  /* Admin */
}
.dark-mode .contenido-derecha .buscador {
  background-color: #193A4A;
  border: 1px solid #F6FAFD;
}
.dark-mode .contenido-derecha .buscador .barra {
  background-color: #121212;
}
.dark-mode .contenido-derecha .buscador .barra::placeholder {
  color: #F6FAFD;
}
.dark-mode .contenido-derecha a:hover {
  background-color: #2D6079;
}
.dark-mode .contenido-derecha .btn-lista span,
.dark-mode .contenido-derecha .btn-nosotros span {
  color: #F6FAFD;
}
.dark-mode .header {
  background-color: #121212;
  border: 0;
}
.dark-mode .contenedor-logo .name {
  color: #F6FAFD;
}
.dark-mode .icono-principal-inverso {
  filter: invert(100%);
}
.dark-mode .menu div {
  background-color: #F6FAFD;
}
.dark-mode .main-admin, .dark-mode .fondo {
  background-color: #121212;
  color: #F6FAFD;
}
.dark-mode .main-admin img, .dark-mode .fondo img {
  filter: invert(30%);
}
.dark-mode .main-admin .contenedor-icono.verde, .dark-mode .fondo .contenedor-icono.verde {
  border: 1px solid rgb(78.3195876289, 135.6804123711, 116.9278350515);
  background-color: #84b8a7;
}
.dark-mode .main-admin .vista-verde, .dark-mode .fondo .vista-verde {
  background-color: rgb(164.3350515464, 202.6649484536, 190.1340206186);
  border: 1px solid rgb(78.3195876289, 135.6804123711, 116.9278350515);
}
.dark-mode #footer p {
  color: #F6FAFD;
}

.boton-verde {
  background-color: #84B8A7;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  display: inline-block;
  border-radius: 1rem;
  border: none;
}
.boton-verde:hover {
  background-color: rgb(115.8324742268, 174.6675257732, 155.4329896907);
  cursor: pointer;
}

.boton-azul-block {
  width: 90%;
  background-color: #547C90;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  display: block;
  border-radius: 1rem;
  border: none;
}
.boton-azul-block:hover {
  background-color: rgb(74.6052631579, 110.1315789474, 127.8947368421);
  cursor: pointer;
}

.boton-azul {
  background-color: #547C90;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  display: inline-block;
  border-radius: 1rem;
  border: none;
}
.boton-azul:hover {
  background-color: rgb(74.6052631579, 110.1315789474, 127.8947368421);
  cursor: pointer;
}

body {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  z-index: 200;
  width: 100%;
  justify-content: space-between;
  padding: 0.45rem 2rem 0.45rem 1.27rem;
  border-bottom: 1px solid #BACFDA;
  position: fixed;
  background-color: #F6FAFD;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

.icono-principal {
  filter: contrast(#121212);
}

.contenido-izquierda {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.contenido-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.contenido-derecha img {
  width: 3rem;
  margin: 1rem;
}
.contenido-derecha a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  transition: background-color 0.2s ease-out;
}
.contenido-derecha a:hover {
  background-color: #BACFDA;
}
.contenido-derecha .buscador {
  background-color: #BACFDA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  border: 1px solid #121212;
  border-radius: 2rem;
  padding-right: 0.2rem;
}
.contenido-derecha .buscador .icono-lupa {
  column-gap: 2rem;
}
.contenido-derecha .buscador .barra {
  height: 93%;
  width: 30rem;
  border: none;
  border-radius: 0 2rem 2rem 0;
}
.contenido-derecha .buscador .barra::placeholder {
  text-align: center;
}
.contenido-derecha .usuario {
  width: 4rem;
  margin: 0;
  border-radius: 50%;
}
.contenido-derecha .busqueda {
  color: #F6FAFD;
  padding: 0 30rem 0 0;
  border-bottom: 1px solid #1E3745;
}
.contenido-derecha .btn-lista,
.contenido-derecha .btn-nosotros {
  flex-direction: row-reverse;
  padding: 1rem;
  column-gap: 0.5rem;
}
.contenido-derecha .btn-lista img,
.contenido-derecha .btn-nosotros img {
  margin: 0;
}
.contenido-derecha .btn-lista:hover,
.contenido-derecha .btn-nosotros:hover {
  cursor: pointer;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.contenedor-logo .logo {
  width: 3rem;
}
.contenedor-logo .name {
  font-size: 2.3rem;
  font-weight: 900;
  color: #265166;
}

.menu-contenido {
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-contenido:hover {
  cursor: pointer;
}

.menu {
  width: 2.2rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /** Animacion de menu **/
}
.menu div {
  width: 100%;
  height: 0.2rem;
  background-color: #121212;
  margin-left: 0.4rem;
  transition: all 0.2s ease-in-out;
}
.menu.menu-toggle div:first-child {
  width: 40%;
  transform: rotate(-35deg) translate(-30%, 250%);
}
.menu.menu-toggle div:last-child {
  width: 40%;
  transform: rotate(35deg) translate(-30%, -250%);
}

.sidebar {
  margin-top: 2rem;
  width: 6rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.5rem 0;
  overflow-y: auto;
  background-color: #265166;
  transition: width 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar img {
  width: 2.6rem;
  padding-left: 0.3rem;
}
.sidebar a {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1.3rem 1rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
  white-space: nowrap;
  overflow: hidden;
  color: #F6FAFD;
}
.sidebar a.seleccionado {
  color: #265166;
  background-color: #BACFDA;
}
.sidebar a.seleccionado img {
  filter: hue-rotate(180deg);
  /* Cambia los tonos de color */
  filter: grayscale(100%);
  /* Convierte la imagen a escala de grises */
  filter: brightness(150%);
  /* Aumenta el brillo */
}
.sidebar a:hover {
  background-color: #1E3745;
}
.sidebar ul {
  margin-top: 1rem;
}
.sidebar .logout {
  border-top: 1px solid #F6FAFD;
  border-radius: 0;
}
.sidebar .logout:hover {
  background-color: #CA4C44;
}
.sidebar.menu-toggle {
  width: 30rem;
}

#footer {
  transition: margin-left 0.5s ease;
  margin-bottom: 0;
  height: auto;
  text-align: center;
  padding: 2.5rem 0;
}
#footer p {
  font-size: 1.5rem;
}
#footer.menu-toggle {
  margin-left: 30rem;
}

.icono-principal {
  filter: invert(100%);
}

.contenedor-categorias {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.categoria {
  border-radius: 1rem;
  background-color: rgb(250.3639344262, 243.4098360656, 239.4360655738);
  border: 1px solid rgb(229.2950819672, 190.737704918, 168.7049180328);
  margin-bottom: 2rem;
}
.categoria .contenido-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.categoria h3,
.categoria p {
  text-align: center;
  margin: 0 0 0.5rem 0;
}
.categoria img {
  margin: 1.5rem auto 0 auto;
  width: 50%;
}

.imagen-lista {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/entrada-compras.png);
}

.imagen-lista {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.imagen-lista h2 {
  color: #F6FAFD;
  font-weight: 700;
  font-size: 4rem;
}
.imagen-lista p {
  color: #F6FAFD;
  font-size: 1.8rem;
}

.testimonial {
  background-color: rgb(111.3636363636, 126.7832167832, 133.6363636364);
  font-size: 2.4rem;
  padding: 2rem;
  color: #ffffff;
  border-radius: 2rem;
}
.testimonial blockquote {
  padding-left: 5rem;
}
.testimonial p {
  color: #ffffff;
  text-align: right;
}

.seccion-inferior {
  background-color: #F6FAFD;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
}

.formulario.login {
  margin: 0 auto;
  max-width: 90%;
}
.formulario.login input {
  margin-top: 1rem;
}
.formulario p {
  font-size: 1.4rem;
  color: #414A4E;
  margin: 2rem 0 0 0;
}
.formulario legend {
  font-size: 2rem;
  color: #414A4E;
}
.formulario label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.formulario input:not([type=submit]),
.formulario textarea,
.formulario select {
  padding: 0.5rem 0 0.5rem 1rem;
  display: block;
  width: 100%;
  background-color: #F6FAFD;
  border: 1px solid #414A4E;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.formulario textarea {
  height: 20rem;
}
.formulario .forma-contacto {
  max-width: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.formulario input[type=radio] {
  margin: 0;
  width: auto;
}

.main-login {
  max-width: 50%;
}

.contenedor-grafico {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.contenedor-grafico h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.contenedor-grafico#pie_menos_vendido {
  grid-row: 2/3;
  grid-column: 2/3;
}
.contenedor-grafico#barras_ventas_semana {
  grid-row: 1/3;
}

.graficos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 1rem;
  gap: 2rem;
}
.graficos .grafico1 svg,
.graficos .grafico2 svg,
.graficos .grafico3 svg {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ECF0F1;
  margin: 0;
  padding: 0;
}

.contenedor-productos {
  width: 100%;
  padding: 20px;
}

.tabla-container {
  width: 100%;
  overflow-x: auto;
}

.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  background: white;
  text-align: left;
  border: 1px solid #7F8C8D;
}
.tabla-productos thead {
  background: #265166;
  color: white;
}
.tabla-productos thead th {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}
.tabla-productos tbody tr {
  border-bottom: 1px solid #ECF0F1;
}
.tabla-productos tbody tr:nth-child(even) {
  background: white;
}
.tabla-productos tbody tr:hover {
  background: rgb(221.3181818182, 228.4090909091, 230.1818181818);
}
.tabla-productos tbody tr td {
  padding: 15px;
  text-align: center;
}
.tabla-productos tbody tr td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: block;
  margin: auto;
}

/* Botones de acción */
.editar-btn {
  background: #265166;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 3px;
}
.editar-btn:hover {
  background: rgb(24.1571428571, 51.4928571429, 64.8428571429);
}

/* Barra de búsqueda */
.barra-busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.barra-busqueda input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #7F8C8D;
  border-radius: 5px;
}
.barra-busqueda #agregarProducto {
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-busqueda #agregarProducto img {
  width: 45px;
  height: 45px;
  display: block;
}
.barra-busqueda #agregarProducto:focus {
  outline: none;
}
.barra-busqueda #agregarProducto:hover {
  opacity: 0.7;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ECF0F1;
  margin: 0;
  padding: 0;
}

.contenedor-clientes {
  width: 100%;
  padding: 20px;
}

/* Contenedor de la tabla */
.tabla-container {
  width: 100%;
  overflow-x: auto;
}

/* Tabla de clientes */
.tabla-clientes {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: 1px solid #7F8C8D;
}
.tabla-clientes thead {
  background: #265166;
  color: white;
}
.tabla-clientes thead th {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}
.tabla-clientes tbody tr {
  border-bottom: 1px solid #ECF0F1;
}
.tabla-clientes tbody tr:nth-child(even) {
  background: white;
}
.tabla-clientes tbody tr:hover {
  background: rgb(221.3181818182, 228.4090909091, 230.1818181818);
}
.tabla-clientes tbody tr td {
  padding: 15px;
  text-align: center;
}

/* Botones de acción */
.editar-btn, .creditos-btn {
  background: #265166;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 3px;
}
.editar-btn:hover, .creditos-btn:hover {
  background: rgb(24.1571428571, 51.4928571429, 64.8428571429);
}

/* Barra de búsqueda */
.barra-busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.barra-busqueda input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #7F8C8D;
  border-radius: 5px;
}
.barra-busqueda #agregarCliente {
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-busqueda #agregarCliente img {
  width: 45px;
  height: 45px;
  display: block;
}
.barra-busqueda #agregarCliente:focus {
  outline: none;
}
.barra-busqueda #agregarCliente:hover {
  opacity: 0.7;
}

.ventas-container {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ventas-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.ventas-container .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}
.ventas-container .form-group label {
  flex: 1;
  font-weight: bold;
}
.ventas-container .form-group .form-control {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ventas-container .search-box {
  position: relative;
  display: flex;
  width: 100%;
}
.ventas-container .search-box .search-btn {
  background: #547C90;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.ventas-container .btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.ventas-container .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.ventas-container .btn:hover {
  background-color: #1E3745;
}
.ventas-container .btn-primary {
  background: #366c8a;
  color: white;
  margin-left: auto;
  display: block;
}
.ventas-container .btn-success {
  background: #265166;
  color: white;
  margin-top: 20px;
}
.ventas-container .table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
.ventas-container .table th, .ventas-container .table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
.ventas-container .table img {
  width: 50px;
  height: auto;
}
@media (max-width: 600px) {
  .ventas-container .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .ventas-container .btn-container {
    flex-direction: column;
    align-items: center;
  }
  .ventas-container .btn {
    width: auto;
  }
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ECF0F1;
  margin: 0;
  padding: 0;
}

.contenedor-proveedores {
  width: 100%;
  padding: 20px;
}

/* Contenedor de la tabla */
.tabla-container {
  width: 100%;
  overflow-x: auto;
}

/* Tabla de clientes */
.tabla-Proveedor {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: 1px solid #7F8C8D;
}
.tabla-Proveedor thead {
  background: #265166;
  color: white;
}
.tabla-Proveedor thead th {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}
.tabla-Proveedor tbody tr {
  border-bottom: 1px solid #ECF0F1;
}
.tabla-Proveedor tbody tr:nth-child(even) {
  background: white;
}
.tabla-Proveedor tbody tr:hover {
  background: rgb(221.3181818182, 228.4090909091, 230.1818181818);
}
.tabla-Proveedor tbody tr td {
  padding: 15px;
  text-align: center;
}

/* Botones de acción */
.editar-btn, .compras-btn {
  background: #265166;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 3px;
}
.editar-btn:hover, .compras-btn:hover {
  background: rgb(24.1571428571, 51.4928571429, 64.8428571429);
}

/* Barra de búsqueda */
.barra-busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.barra-busqueda input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #7F8C8D;
  border-radius: 5px;
}
.barra-busqueda #agregarProveedor {
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-busqueda #agregarProveedor img {
  width: 45px;
  height: 45px;
  display: block;
}
.barra-busqueda #agregarProveedor:focus {
  outline: none;
}
.barra-busqueda #agregarProveedor:hover {
  opacity: 0.7;
}

.alerta {
  margin: 1rem 0;
  padding: 0.2rem;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  border-radius: 2rem;
}
.alerta.error {
  background-color: #E74C3C;
}
.alerta.exito {
  background-color: #84B8A7;
}

.main-admin h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.descripcion-general {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.descripcion-general .vista {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  align-items: center;
  text-align: left;
  border-radius: 1rem;
  width: 1fr;
  height: 8rem;
}
.descripcion-general .vista .contenido-descripcion {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.descripcion-general .vista .contenido-descripcion span {
  color: #121212;
  font-size: 1.5rem;
}
.descripcion-general .vista .contenido-descripcion .total-descripcion {
  font-weight: 700;
  font-size: 2rem;
}
.descripcion-general .vista .contenedor-icono {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 80%;
  border-radius: 1rem;
  margin-left: 1rem;
}
.descripcion-general .vista .contenedor-icono.verde {
  border: 1px solid rgb(129.4098360656, 217.5901639344, 188.1967213115);
  background-color: rgb(188.3524590164, 235.1475409836, 219.5491803279);
}
.descripcion-general .vista .contenedor-icono.rojo {
  background-color: rgb(247.7671232877, 201.0547945205, 196.2328767123);
  border: 1px solid rgb(168.2876712329, 34.5205479452, 20.7123287671);
}
.descripcion-general .vista .contenedor-icono img {
  width: 3.5rem;
}
.descripcion-general .vista-verde {
  background-color: rgb(227.6475409836, 246.8524590164, 240.4508196721);
  border: 1px solid rgb(129.4098360656, 217.5901639344, 188.1967213115);
}
.descripcion-general .vista-roja {
  background-color: rgb(253.3561643836, 242.7397260274, 241.6438356164);
  border: 1px solid rgb(168.2876712329, 34.5205479452, 20.7123287671);
}

.graficos {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.graficos canvas {
  max-width: 100%;
}

.main {
  background-color: #F6FAFD;
  margin-top: 8rem;
}

#main,
.menu-secundario {
  margin-left: 8rem;
  padding: 2rem;
  transition: margin-left 0.5s ease;
  border-radius: 1rem;
  width: 92.5%;
}
#main.contenido-usuario,
.menu-secundario.contenido-usuario {
  margin: 8rem auto 0 auto;
}
#main.menu-toggle,
.menu-secundario.menu-toggle {
  transition: margin-left 0.5s ease;
  margin-left: 32rem;
  width: 75%;
}
#main.principal,
.menu-secundario.principal {
  margin: 0 auto;
  margin-top: 8rem;
  width: 89%;
}

.fondo {
  background-color: #F6FAFD;
}

/*# sourceMappingURL=app.css.map */
