/**TABLAS DE TODOS LOS DATOS**/
.contenedor-tabla-datos,
.contenedor-tabla-productos {
    .tabla-plantilla {

        table,
        th,
        td {
            border: 1px solid;
            text-align: center;
        }

        th {

            background-color: $azul_gris;
            color: $gris_claro;
        }
        tr {
            &:nth-child(even) {

                background-color: $gris_claro;
            }
        }

    }
}

table {
    border-collapse: collapse;
    width: 90%;
    // border-radius: 2rem;
}

.cuerpo-tabla {

    .img-producto {
        margin: 0 auto;
        width: 8rem;
        height: 6rem;
    }
}

.contenedor-tabla-productos {
    width: 100%;
    min-height: 25rem;
    max-height: 25rem;
    margin: 1rem 0;

    .tabla-plantilla {
        width: 95%;
        margin: 0 auto;
    }
}
/**LISTADO DE PRODUCTOS**/  

.img-producto-editar {
    width: 20rem;
}