.main {
    background-color: $blanco_ahumado;
    margin-top: 8rem;
}

#main,
.menu-secundario {

    //margin-left: 8rem;
    padding: 2rem;
    //transition: margin-left .5s ease;
    border-radius: 1rem;
    //width: 92.5%;
    width: 95%;
    //box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 1);
    //rgba(181, 216, 255, 0.83);
    box-shadow: 0px 0px 20px 0px rgba(40, 82, 128, 1);

    &.contenido-usuario {
        margin: 8rem auto 0 auto;

    }

    &.principal {
        margin: 0 auto;
        margin-top: 2rem;
        width: 95%;
    }

    &.main-nosotros {
        margin-top: 8rem;
    }

    &.main-login {
        margin: 8% 25% 5% 25%;
    }

    &.admin {
        max-width: 108.5rem;
        min-width: 108.5rem;
        margin: 7rem 0 0 26rem;

        &.graficos {
            margin-top: 2.5rem;
        }
    }

}


.fondo {
    background-color: $blanco_ahumado;
}