.main {
    background-color: $blanco_ahumado;
    margin-top: 8rem;
}

#main,
.menu-secundario {

    //margin-left: 8rem;
    padding: 2rem;
    //transition: margin-left .5s ease;
    border-radius: 1rem;
    //width: 92.5%;
    width: 95%;
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);

    &.contenido-usuario {
        margin: 8rem auto 0 auto;

    }

    &.menu-toggle {
        transition: margin-left .5s ease;
        margin-left: 32rem;
        width: 75%;
    }

    &.principal {
        margin: 0 auto;
        margin-top: 2rem;
        width: 95%;
    }

    &.main-login,
    &.main-nosotros{ 
        margin-top: 8rem;
    }

}


.fondo {
    background-color: $blanco_ahumado;
}